@import "./variables";
@import "./base";

.main {
  background-color: $main-colour;
}

.calendar__box {
  display: flex;
  background-color: #2e3336;
}

.calendar__date {
  display: flex;
  flex-direction: column;
  &_month {
    padding: 0.5rem 1rem;
    p {
      color: white;
      font-size: 5vw;
      text-align: center;
    }
  }
  &_days {
    display: flex;
    justify-content: space-around;
    p {
      color: white;
      font-size: 5vw;
      font-weight: bold;
      text-align: center;
    }
  }

  &_day {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: white;
      font-size: 5vw;
      text-align: center;
    }
  }
}

.calendar__weather {
  width: 100%;
  &_img {
    display: flex;
    justify-content: center;
    background-color: white;
  }

  &_data {
    background-color: #2e3336;
    display: flex;
    font-size: 4vw;
  }

  &_temp {
    color: #c5cdcf;
    font-size: 10vw;
  }

  &_details {
    p:first-child {
      color: #8f9b9d;
    }
    p:last-child {
      color: #c5cdcf;
    }
  }
}

.note__box {
  margin: 1rem 2rem;

  & textarea {
    width: 100%;
    height: 100%;
    font-size: 4vw;
    color: #696969;
    border: none;
    resize: none;
    background-color: transparent;
    border-bottom: 1px solid #c5cdcf;

    &:focus {
      outline: none;
    }
  }
}

.tasks {
  &__box {
    margin: 1rem 2rem;
    color: rgb(99, 99, 99);
    font-size: 4vw;
  }
  &__title {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  &__task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    & .text {
      width: 85%;
      border-bottom: 1px solid #c5cdcf;
      padding: 0.5rem;
    }

    & .delete {
      align-self: center;
      height: 2rem;
      width: 2rem;
      padding: 0.5rem;
      border: none;
      background-color: transparent;
      color: #da2f2f;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    }

    & .add {
      align-self: center;
      height: 2rem;
      width: 2rem;
      padding: 0.5rem;
      border: none;
      background-color: transparent;
      color: #146fa3;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    }
    & .new-task {
      border: none;
      background: transparent;
      font-size: 4vw;
      border-bottom: 1px solid #c5cdcf;
      color: rgb(99, 99, 99);
      &::placeholder {
        font-size: 4vw;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.skd {
  &__box {
    margin: 1rem 2rem;
    color: rgb(99, 99, 99);
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 0.5rem;
  }

  &__title {
    font-weight: bold;
  }

  &__content {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
  }
  &__timeline {
    display: grid;
    grid-template-rows: repeat(7, 70px);
  }

  &__events {
    display: grid;
    grid-template-rows: repeat(7, 70px);
    border-radius: 5px;
    background-image: linear-gradient(
      180deg,
      #b7c4cc 49%,
      #000 49%,
      #000 50%,
      #b7c4cc 50%,
      #b7c4cc 99%,
      #000 99%
    );
    background-size: 140px 140px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  &__event {
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  }

  &__add {
    border: none;
    width: 50px;
    height: 50px;
    align-self: flex-end;
    border-radius: 5px;
    background-color: #146fa3;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}

.start-9 {
  grid-row-start: 1;
}

.start-10 {
  grid-row-start: 2;
}

.start-11 {
  grid-row-start: 3;
}

.start-13 {
  grid-row-start: 4;
}

.end-10 {
  grid-row-end: 2;
}

.end-11 {
  grid-row-end: 3;
}

.end-12 {
  grid-row-end: 4;
}

.end-13 {
  grid-row-end: 5;
}

.end-14 {
  grid-row-end: 6;
}
